.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.container{
    display:grid;
    margin: 0 auto;
    padding: 1em;
}
p{
    font-family: 'Quicksand', sans-serif;
    display: grid;
    
}
/* medium screen */
@media screen and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1){
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
}
/* small screen */
@media screen  
and (max-device-width: 766px)
and (-webkit-min-device-pixel-ratio: 2) {
    .grid{
        display: grid;
        grid-template-columns: 1fr;
    }
    
}