@media only screen and (min-device-width : 320px) and (max-device-width : 765px) {
    ul{
        display: none;
    }
    .tablets{
        display: none;
        

    }
    }
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        li{
            background-color: aqua;
        }
        .smartphone{
            display: none;
        }
        .setup{
            display: none;
        }
        }