.cards {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    margin: 40px 0; }
    .active{
        color: red;
     }
     .responsive{display:block}
     
     nav ul li a:hover {
         color: green;
     }