@media only screen and (min-width: 32.5em) {

  #announce {
    height: 25px;
  }

  #article_img {
    padding-left: 5px;
    float: right;
    width: 100%;
  }

  h1 {
    font-size: 2.5em;
    margin-top: 0px;
  }

  h2 {
    font-size: 1.8em;
  }

  header img {
    height: 120px;
    padding-right: 10px;
  }

	.heading h1 {
		font-size: 2.5em;
	}

	.subheading {
		letter-spacing: 1.5pt;
  }
  
  .forecast {
    display: block !important;
  }

  footer {
    border-radius: 15px;
    height: 55px;
    max-width: 1000px;
  }

  main {
    max-width: 1000px;
  }

  #map {
    grid-column: 1;
    grid-row: 1;
    height: 280px;
  }

  .summary {
    position: absolute;
    top: 25px;
    left: 50px;
    background: radial-gradient(#eee, #EDF5E1);
    border: 1px solid #000;
    padding: 1rem;
    box-shadow: 0 0 30px #111;
    opacity: .8;
  }
  nav button { display:none; } 
  nav ul { display:block; }

  header, nav, main, footer {
    margin: 0% 5%;
    width: 90%;
}
header, nav, main, footer { 
  margin: 0% 5%;
  width: 90%;
}

header div h1 {width: calc(100% - 200px); font-size:28px;   margin: 30px 0px 10px 0px;}
header div img { width:190px }

nav ul li {
  padding: 10px 0px;
  width:100%;
}
nav ul li a{
     border-right: 1px solid black;
}



nav button { display:none; } 
nav ul { display: flex; }

}
#fiveday{
  margin: auto;
  width: 50%;
  text-align: center;
}
